@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1) ;
}
/* font color */
.dark-1{
    color: rgb(19, 19, 19);
}
.dark-2{
    color: rgb(66, 66, 66);
}
.dark-3{
    color: rgb(114, 114, 114);
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand{
    color: rgb(19, 19, 19);
    font-weight: 700;
    font-size: 2.8rem;
}
.nav-links{
    display: flex;
    color: rgb(114, 114, 114);
    list-style: none;
    text-decoration: none;
}
.nav-item{
    margin-left: 30px;
}
.nav-link{
    text-decoration: none;
}
.nav-bar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-title{
    font-weight:700 ;
    font-size: 4rem;
    color: rgb(19, 19, 19);
}.banner-discription{
    font-weight:400 ;
    font-size: 1rem; 
    color:  rgb(114, 114, 114);
}
.btn-prymary{
    background-color: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    padding: 21px 24px 20px 25px ;
    border-radius: 8px;
    font-weight: 600px;
    font-size: 1.25rem;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
/* img{
     margin-bottom: 50px; 
} */
.team{
    display: flex;
    align-items: center;
}
 .team-images-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
} 
@media  screen and (max-width:576px) {
   .nav-bar, .nav-links{
    flex-direction: column;
    }
}
main > section{
    margin-top: 85px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
.fiture-title{
    font-weight:500 ;
    font-size:2.8rem ;
}
.fiture-dis{
    font-weight:400 ;
    font-size:1rem ;
    color:  rgb(114, 114, 114);
} 
.ql-style{
    color:  rgb(114, 114, 114)
}
.Features{
    color:rgb(255, 144, 14) ;
}
.our-fetures{
    margin-left: 170px;
    /* text-align: left; */
}
@media screen and (max-width:576px) {
    .nav-bar
    .nav-links{
        flex-direction: column;
   }
   .team-images-container{
        grid-template-columns: repeat(1,1fr);
   }
   .team{
    flex-direction: column;
   }
   .our-fetures{
    margin-left: 10px;
   }
}
@media screen and  (min-width:576px) and (max-width:992px){
    .team{
        flex-direction: column;
       }
       .our-fetures{
        margin-left: 50px auto;
       }
}
.features{
    display: flex;
    gap: 146px;

}
#ftr-border{
    border-left: 5px solid rgb(255, 144, 14);
}
.ftr-title{
    font-weight: 700;
    font-size: 2.8rem;
    padding-left: 26px;
}
.ftr-dis{
    font-weight:400 ;
    font-size: 1rem ;
    color:  rgb(114, 114, 114);
}
.card-title{
    font-weight: 600;
    font-size: 1.25rem;
}
.card-dis{
    font-weight: 400;
    font-size: 1rem;
    color:  rgb(114, 114, 114);
}
.ftr-card{
    padding:  30px ;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px; 
    border-radius: 8px;
}
.new-btn{
    width: 300px;
    height: 180px;
    background-color: rgb(255, 144, 14) ;
    border-radius: 8px;
    margin-left: -92px;
    margin-top: -77px;
}
#ex-year{
    font-weight: 700;
    font-size: 4.06rem;
    color: white;
}
#ex{
    font-weight: 500;
    font-size: 1.62rem;
    color: white;
}







    
